body{
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.div{
    width: 150px;
    height: 150px;
    position: relative;
}
span{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation: square 2s linear infinite;
}

.sp3{
    animation-delay: 0.7s;
    background-color: deeppink;
}

.sp2{
    animation-delay: 1.4s;
    background-color: deepskyblue;
}
.sp1{
    animation-delay: 2.1s;
    background-color: darkorchid;
}
@keyframes square{
    0%{ 
        top:0; left:0;
    }
    12.5% {
        top:0; left:50%;
    }
    25%{
        top:0%; left:50%;
    }
    37.5%{
        top:50%; left:50%;
    }
    50%{
        top:50%; left:50%;
    }
    62.5%{
        top:50%; left:0%;
    }
    75%{
        top:50%; left:0%;
    }
    82.5%{
        top:0; left:0;
    }
    100%{
        top:0; left:0;
    }
}